In [1]:
import nltk 
nltk.download('vader_lexicon')

D:\Conda\envs\nlp_course\lib\site-packages\sklearn\utils\validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\feature_extraction\image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\linear_model\least_angle.py:35: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps,
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\linear_model\least_angle.py:597: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\linear_model\least_angle.py:836: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\linear_model\least_angle.py:1097: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\linear_model\least_angle.py:1344: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\linear_model\least_angle.py:1480: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\linear_model\randomized_l1.py:152: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  precompute=False, eps=np.finfo(np.float).eps,
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\linear_model\randomized_l1.py:320: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, random_state=None,
D:\Conda\envs\nlp_course\lib\site-packages\sklearn\linear_model\randomized_l1.py:580: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=4 * np.finfo(np.float).eps, n_jobs=None,

[nltk_data] Error loading vader_lexicon: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [2]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid=SentimentIntensityAnalyzer()

D:\Conda\envs\nlp_course\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [3]:
import numpy as np
import pandas as pd

In [6]:
df_original = pd.read_csv('../amzn_revw_train.csv',header=None, names=("polarity", "title", "text"))
df= df_original.sample(10000)

In [7]:
df.head()

,polarity,title,text
354447,1,A Joke That Is Still Going Strong,Lou Reed has gotten so much out of so little i...
1935220,2,Good from Start to Finish,If you are a fan of good music that puts a smi...
1349597,2,Outstanding book about a neglected war,This is a rare book that has the details of pe...
305264,2,Great detail and convenience. I love it!,I bought this printer to use with a Nikon Cool...
2862300,1,HOW SAD,that the studio couldn't afford to shoot (or r...

In [8]:
df['polarity'].value_counts()

2    5019
1    4981
Name: polarity, dtype: int64

In [10]:
sid.polarity_scores(df.loc[305264]['text'])

{'neg': 0.013, 'neu': 0.837, 'pos': 0.15, 'compound': 0.9776}

In [11]:
df['scores']=df['text'].apply(lambda text: sid.polarity_scores(text))
df.head()

,polarity,title,text,scores
354447,1,A Joke That Is Still Going Strong,Lou Reed has gotten so much out of so little i...,"{'neg': 0.106, 'neu': 0.755, 'pos': 0.138, 'co..."
1935220,2,Good from Start to Finish,If you are a fan of good music that puts a smi...,"{'neg': 0.026, 'neu': 0.722, 'pos': 0.252, 'co..."
1349597,2,Outstanding book about a neglected war,This is a rare book that has the details of pe...,"{'neg': 0.082, 'neu': 0.716, 'pos': 0.202, 'co..."
305264,2,Great detail and convenience. I love it!,I bought this printer to use with a Nikon Cool...,"{'neg': 0.013, 'neu': 0.837, 'pos': 0.15, 'com..."
2862300,1,HOW SAD,that the studio couldn't afford to shoot (or r...,"{'neg': 0.0, 'neu': 0.683, 'pos': 0.317, 'comp..."

In [12]:
df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df.head()

,polarity,title,text,scores,compound
354447,1,A Joke That Is Still Going Strong,Lou Reed has gotten so much out of so little i...,"{'neg': 0.106, 'neu': 0.755, 'pos': 0.138, 'co...",0.6997
1935220,2,Good from Start to Finish,If you are a fan of good music that puts a smi...,"{'neg': 0.026, 'neu': 0.722, 'pos': 0.252, 'co...",0.9922
1349597,2,Outstanding book about a neglected war,This is a rare book that has the details of pe...,"{'neg': 0.082, 'neu': 0.716, 'pos': 0.202, 'co...",0.9652
305264,2,Great detail and convenience. I love it!,I bought this printer to use with a Nikon Cool...,"{'neg': 0.013, 'neu': 0.837, 'pos': 0.15, 'com...",0.9776
2862300,1,HOW SAD,that the studio couldn't afford to shoot (or r...,"{'neg': 0.0, 'neu': 0.683, 'pos': 0.317, 'comp...",0.8332

In [13]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,polarity,title,text,scores,compound,comp_score
354447,1,A Joke That Is Still Going Strong,Lou Reed has gotten so much out of so little i...,"{'neg': 0.106, 'neu': 0.755, 'pos': 0.138, 'co...",0.6997,pos
1935220,2,Good from Start to Finish,If you are a fan of good music that puts a smi...,"{'neg': 0.026, 'neu': 0.722, 'pos': 0.252, 'co...",0.9922,pos
1349597,2,Outstanding book about a neglected war,This is a rare book that has the details of pe...,"{'neg': 0.082, 'neu': 0.716, 'pos': 0.202, 'co...",0.9652,pos
305264,2,Great detail and convenience. I love it!,I bought this printer to use with a Nikon Cool...,"{'neg': 0.013, 'neu': 0.837, 'pos': 0.15, 'com...",0.9776,pos
2862300,1,HOW SAD,that the studio couldn't afford to shoot (or r...,"{'neg': 0.0, 'neu': 0.683, 'pos': 0.317, 'comp...",0.8332,pos